<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Base path for meshes -->
  <xacro:property
      name="BASE_PATH"
      value="ldlidar_stl_description/meshes" />
  <xacro:property
      name="MESH_BASE_LINK"
      value="${BASE_PATH}/ld19.dae" />
 
  <xacro:macro
      name="ld19"
      params="prefix parent *origin sensor_range_visible">
    <material name="${prefix}ld19_material">
      <color rgba="0.0 0.0 0.0 0.0" />
    </material>
    <!-- links -->
    <link name="${prefix}ld19_base_link">
      <inertial>
        <origin
            xyz="-5.23E-13 0.00 16.02E-03"
            rpy="0 0 0" />
        <mass value="47.7E-03" />
        <inertia
            ixx="9783.697E-09"
            ixy="0.0"
            ixz="3.136E-16"
            iyy="9783.697E-09"
            iyz="0.0"
            izz="10467.012E-09" />
      </inertial>
      <visual>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
          <mesh filename="package://${MESH_BASE_LINK}" />
        </geometry>
      </visual>
      <collision>
        <origin
            xyz="0 0 0"
            rpy="0 0 0" />
        <geometry>
          <mesh filename="package://${MESH_BASE_LINK}" />
        </geometry>
      </collision>
    </link>

    <!-- joints -->
    <joint
        name="${prefix}ld19_base_joint"
        type="fixed">
      <parent link="${parent}" />
      <child link="${prefix}ld19_base_link" />
      <xacro:insert_block name="origin" />
    </joint>
  </xacro:macro>
</robot>